In [23]:
import cv2
import sys
import numpy as np
from numpy.random import rand
from datetime import datetime
from numpy import zeros, newaxis
from matplotlib import pyplot as plt
import math,cmath

In [24]:
img=cv2.imread("/Users/suchi/Desktop/Fall 2017/DIP/Project/Lenna.png",0)

In [25]:
M,N=img.shape

In [26]:
hist=[0 for i in range(256)]
for i in range(M):
    for j in range(N):
        hist[img[i,j]]=hist[img[i,j]]+1

In [27]:
cdf = [sum(hist[:i+1]) for i in range(len(hist))]

In [39]:
cdf1=[0 for i in range(256)]

In [28]:
m1 = min(i for i in cdf if i > 0)

In [29]:
m1

45

In [30]:
m2=np.max(cdf)

In [31]:
m2

262144

In [37]:
c=m2-m1

In [40]:
for i in range(256):
    if(cdf[i]>0):
        cdf1[i]=(cdf[i]-m1)*255/(c)
    else:
        cdf1[i]=cdf[i]

In [41]:
cdf1

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 1,
 1,
 1,
 3,
 3,
 3,
 7,
 7,
 7,
 12,
 12,
 12,
 18,
 18,
 24,
 24,
 24,
 29,
 29,
 33,
 33,
 36,
 36,
 39,
 39,
 41,
 41,
 42,
 42,
 44,
 44,
 45,
 45,
 47,
 47,
 48,
 48,
 49,
 51,
 51,
 52,
 52,
 53,
 55,
 55,
 56,
 58,
 58,
 59,
 60,
 60,
 62,
 63,
 63,
 65,
 66,
 68,
 68,
 69,
 71,
 73,
 73,
 74,
 76,
 79,
 81,
 81,
 84,
 86,
 89,
 91,
 93,
 94,
 96,
 96,
 98,
 99,
 100,
 102,
 104,
 105,
 107,
 108,
 110,
 111,
 113,
 115,
 117,
 119,
 121,
 123,
 125,
 128,
 130,
 133,
 136,
 138,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 159,
 161,
 163,
 166,
 168,
 173,
 175,
 177,
 179,
 184,
 186,
 188,
 191,
 195,
 196,
 198,
 201,
 202,
 203,
 206,
 207,
 208,
 210,
 211,
 212,
 213,
 214,
 216,
 217,
 219,
 220,
 222,
 223,
 224,
 225,
 226,
 226,
 227,
 228,
 229,
 229,
 230,
 231,
 232,
 233,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 240,
 241,
 243,
 244,
 244,
 245,
 247,
 247,
 248,
 249,
 250,
 251,
 251,
 252,
 252,
 253,
 253,
 253,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 254,
 255,
 255,
 255,
 255,
 255,
 255,
 255,
 255,
 255,
 255,
 255]

In [42]:
new_img=cdf1[img]

TypeError: only integer scalar arrays can be converted to a scalar index

In [18]:
cdf_m = np.ma.masked_equal(cdf,0)
cdf_m = (cdf_m - cdf_m.min())*255/(cdf_m.max()-cdf_m.min())
cdf1 = np.ma.filled(cdf_m,0).astype('uint8')

In [ ]:
cdf_m = np.ma.masked_equal(cdf,0)

In [20]:
cdf_m = np.ma.masked_equal(cdf,0)

In [ ]:
cdf1 = np.ma.filled(cdf_m,0).astype('uint8')

In [36]:
(cdf_m - cdf_m.min())*255

masked_array(data = [-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- 0 0 0 0 98940 98940 98940 397545
 397545 397545 397545 961350 961350 961350 1875015 1875015 1875015 3270375
 3270375 3270375 4917675 4917675 6427785 6427785 6427785 7729305 7729305
 8832180 8832180 9622680 9622680 10254825 10254825 10788540 10788540
 11229690 11229690 11629020 11629020 12003615 12003615 12354750 12354750
 12697725 12697725 13038150 13386735 13386735 13747815 13747815 14124960
 14499300 14499300 14872875 15239565 15239565 15578205 15943110 15943110
 16316685 16700205 16700205 17088315 17487135 17896410 17896410 18323280
 18732300 19176255 19176255 19628625 20143980 20755470 21417960 21417960
 22099575 22759515 23372280 23914410 24431295 24872445 25299825 25299825
 25696095 26084205 26469255 26859150 27261795 27653475 28062240 28455450
 28893795 29351520 29823525 30281505 30770850 31259430 31775040 32335530
 32949825 33625575 34295205 34965600 35650275 36265080 37396005 37900905
 38393055 38883930 39378375 39903165 40473600 41702955 42317760 42956790
 43571595 44210880 45390765 45961965 46542600 47140830 48337290 48937050
 49503405 50084295 51148665 51607155 52048050 52784490 53120070 53447745
 54014355 54286185 54550110 55048635 55306695 55786860 56026815 56281305
 56783400 57035850 57540495 57788100 58251180 58464360 58847370 59013375
 59293110 59430300 59690400 59814585 60040515 60157305 60421485 60557145
 60835860 61127835 61279560 61592445 61752585 62052465 62340360 62492085
 62772075 63029370 63163755 63418500 63690330 63976950 64134030 64452525
 64767705 64920195 65210640 65502615 65744100 65957025 66038370 66182955
 66298215 66403020 66495840 66571320 66607530 66664905 66719220 66753135
 66777105 66792150 66806430 66816885 66824025 66827595 66830145 66831675
 66833715 66833715 66833970 66833970 66834225 66834225 66834225 66834225
 66834735 66834735 66834735 66835245 66835245 66835245 66835245 66835245
 66835245 66835245 66835245 66835245 66835245 66835245],
             mask = [ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False],
       fill_value = 0)

In [22]:
cdf_m-cdf_m.min()

masked_array(data = [-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- --
 -- -- -- -- -- -- -- -- -- -- -- -- -- -- 0 0 0 0 388 388 388 1559 1559
 1559 1559 3770 3770 3770 7353 7353 7353 12825 12825 12825 19285 19285
 25207 25207 25207 30311 30311 34636 34636 37736 37736 40215 40215 42308
 42308 44038 44038 45604 45604 47073 47073 48450 48450 49795 49795 51130
 52497 52497 53913 53913 55392 56860 56860 58325 59763 59763 61091 62522
 62522 63987 65491 65491 67013 68577 70182 70182 71856 73460 75201 75201
 76975 78996 81394 83992 83992 86665 89253 91656 93782 95809 97539 99215
 99215 100769 102291 103801 105330 106909 108445 110048 111590 113309
 115104 116955 118751 120670 122586 124608 126806 129215 131865 134491
 137120 139805 142216 146651 148631 150561 152486 154425 156483 158720
 163541 165952 168458 170869 173376 178003 180243 182520 184866 189558
 191910 194131 196409 200583 202381 204110 206998 208314 209599 211821
 212887 213922 215877 216889 218772 219713 220711 222680 223670 225649
 226620 228436 229272 230774 231425 232522 233060 234080 234567 235453
 235911 236947 237479 238572 239717 240312 241539 242167 243343 244472
 245067 246165 247174 247701 248700 249766 250890 251506 252755 253991
 254589 255728 256873 257820 258655 258974 259541 259993 260404 260768
 261064 261206 261431 261644 261777 261871 261930 261986 262027 262055
 262069 262079 262085 262093 262093 262094 262094 262095 262095 262095
 262095 262097 262097 262097 262099 262099 262099 262099 262099 262099
 262099 262099 262099 262099 262099],
             mask = [ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False],
       fill_value = 0)

In [ ]:
 np.ma.masked_equal(cdf,0)

In [ ]:
from PIL import Image
im = Image.fromarray(img2)
im.show()

In [ ]:
new_img=np.zeros((int(M),int(N)),np.uint8)

In [ ]:
for i in range(M):
		for j in range(N):
			new_img[i, j] = cdf1[img[i, j]]

In [ ]:
from PIL import Image
im = Image.fromarray(new_img)
im.show()

In [ ]:
plt.plot(hist)
plt.show()

In [ ]:
unique, counts = np.unique(img, return_counts=True)

In [ ]:
unique,co

In [ ]:
l= len(unique)

In [ ]:
total = sum(counts)

In [ ]:
pcf=[0 for i in range(l)]
cdf=[0 for i in range(l)]
cdf2=[0 for i in range(l)]

In [ ]:
for i in range(l):
    pcf[i]=counts[i]

In [ ]:
cdf[0]=pcf[0]
for i in range(1,l):
    cdf[i]=pcf[i]
    cdf[i]=cdf[i-1]+cdf[i]

In [ ]:
for i in range(l):
    print unique[i],counts[i], cdf[i]
    #cdf2=(cdf[i]/total)

In [ ]:
for i in range(l):
    cdf2[i]=cdf[i]*(l-1)

In [ ]:
cdf3=cdf2/total

In [ ]:
for i in range(l):
    print unique[i],cdf3[i],counts[i]

In [ ]:
hist1,bins = np.histogram(img.flatten(),256,[0,256])

In [ ]:
cdf4 = hist1.cumsum()

In [ ]:
cdf_normalized = cdf4 * hist1.max()/ cdf4.max()

In [ ]:
cdf_normalized

In [ ]:
hist2=[0 for i in range(256)]

In [ ]:
for i in range(l):
    j=cdf3[i]
    hist2[j]=counts[i]

In [ ]:
plt.plot(hist2)

In [ ]:
plt.show()